/target$
/*.prefs
.DS_Store
/.DS_Store
/*.class
/wip$
.idea/
target/
*.iml
/bin/
/doc/
/*.ucls
/*.orig
syntax: glob
Client.jar
oracle.nosql/plugin/.gradle/
oracle.nosql/plugin/.idea/
oracle.nosql/plugin/build/
oracle.nosql/plugin/out/
oracle.nosql/model/.gradle/
# Default ignored files
# Ignore build artifacts
/target/
*.class
*.jar
*.war
*.ear
*.prefs
/out/
/build/
.gradle/

